{% extends 'base.html' %}

{% block title %}
    Login
{% endblock title %}
{% block content %}
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <div class="login-form">
        <img src="https://cdn-icons-png.flaticon.com/128/1177/1177568.png" class="avatar">
            <h1>Login to InnerView</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </div>
        <div id="Signup-Login-Page">
            Don't have an account? <a href="{% url 'signup' %}">Signup</a>
        </div>
    </main>
{% endblock content %}
