{% extends 'base.html'%}

{% block title %}
Interviews
{% endblock title %}

{% block content %}
<main>
    <div class="project-list">
        <h1>My Interviews</h1>
         <p>
            <a href="{% url 'create_interview' %}">Add an Interview</a>
        </p>
        {% if interviews|length == 0 %}
            <p>You don't have any interviews scheduled.</p>
        {% else %}
            <h3>Upcoming Interviews</h3>
            <table>
                <thead>
                    <th>Company Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Has Responded?</th>
                </thead>
                <tbody>
                    {% for interview in interviews %}
                        {% if interview.date >= today_date %}
                        <tr>
                            <td>
                                <a href="{% url 'show_interview' interview.id %}">{{ interview.company_name }}</a>
                            </td>
                            <td>
                                {{ interview.date }}
                            </td>
                            <td>
                                {{ interview.time }}
                            </td>
                            <td>
                                {{ interview.responded|yesno }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <h3>Past Interviews</h3>
            <table>
                <thead>
                    <th>Company Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Has Responded?</th>
                </thead>
                <tbody>
                    {% for interview in interviews %}
                    {% if interview.date < today_date %}
                        <tr>
                            <td>
                                <a href="{% url 'show_interview' interview.id %}">{{ interview.company_name }}</a>
                            </td>
                            <td>
                                {{ interview.date }}
                            </td>
                            <td>
                                {{ interview.time }}
                            </td>
                            <td>
                                {{ interview.responded|yesno }}
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</main>

{% endblock content %}
